
* {

box-sizing: border-box;
padding: 0;
margin: 0;
    /* 
-May want to add "border-box for "box-sizing so padding does not affect width
-Reset margin and padding 
*/
}

body {
  font-family: Raleway, sans-serif;

background: #344a72;
line-height: 1.8em;
}

a {
    /* 

Underlined links are ugly :)
*/

text-decoration: none;
}

#container {
    /* 
-Remember, margin: auto on left and right will center a block element 
-I would also set a "max-width" for responsiveness
-May want to add some padding
*/
margin: 30px auto;
max-width: 400px;
padding: 20px;

}

.form-wrap {
    /* 
  This is the white area around the form and heading, etc
*/
padding: 10px;
border: black 1px solid;

background: white;

}

.form-wrap h1,
.form-wrap p {
    /* 
  May want to center these
*/

text-align: center;
padding-bottom: 5px;
}

.form-wrap .form-group {
    /* 
  Each label, input is wrapped in .form-group
*/
padding-bottom: 20px;
}

.form-wrap .form-group label {
    /* 
  Label should be turned into a block element
*/
}

.form-wrap .form-group input {
    /* 
  Inputs should reach accross the .form-wrap 100% and have some padding
*/
width: 100%;
display: block;
padding: 5px;
border-radius: 5px;

}

.form-wrap button {
    /* 
  Button should wrap accross 100% and display as block
  Background color for button is #49c1a2
*/
display: block;
background-color: #49c1a2;
width: 100%;
color: white;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}

.form-wrap button:hover {
    /* 
  Hover background color for button is #37a08e
*/
background: #37a08e;
}

.form-wrap .bottom-text {
    /* 
  Bottom text is smaller
*/

padding: 10px;
}

footer {
    /* 
Should be centered
*/
padding: 10px;
text-align: center;
color: white;
}

footer a {
    /* 
  Footer link color is #49c1a2
*/
color: #49c1a2;
}
