li {
	padding: 0.25rem;
	margin: 0.25rem;
	list-style: none;
}

.flex {
	display: flex;
	align-content: center;
}

.flex > ul {
	border: black 1px solid;
	padding: 0px;
	margin: 10px;
}

/* last child */
.last-child li:last-child {
	background: red;
}

/* 4th child */
.nth-child li:nth-child(4) {
	background: green;
}

/* every 3rd child
'0' refers to the start of the child to style.
for this case, u start at the beginning
*/
.every-3rd-child li:nth-child(3n + 0) {
	background: yellow;
}

/* every 3rd child starting from 4th-child.
'4' refers to the start of the child to style.
for this case, u start at the 4th child
*/
.every-3rd-child-4 li:nth-child(3n + 4) {
	background: pink;
}

/* odd. u can use the same for even */
.every-odd-child li:nth-child(odd) {
	background: blue;
}
