.grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1rem;
}

/* tablet */
@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, auto);
	}
}

/* smartphone */
@media (max-width: 500px) {
	.grid {
		grid-template-columns: repeat(1, auto);
	}
}
